.feedbackButton{
    width: 13vw;
    height: 50%;
    border-radius: 12px;
    background-color: #121212;
    color: #34C94B;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    font-size: 85%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}